<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp.career_guide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page2" />
        <activity android:name=".pageIti" />
        <activity android:name=".pageDiploma" />
        <activity android:name=".page4" />
        <activity android:name=".page5" />
        <activity android:name=".page6" />
        <activity android:name=".page8" />
        <activity android:name=".page7" />
        <activity android:name=".page9" />
        <activity android:name=".page10" />
        <activity android:name=".page11" />
        <activity android:name=".page3" />
        <activity android:name=".page12" />
        <activity android:name=".page13" />
        <activity android:name=".app.page14" />
        <activity android:name=".page14" />
        <activity android:name=".page15a" />
        <activity android:name=".page1_agri" />
        <activity android:name=".page2_agri" />
        <activity android:name=".page3_agri" />
        <activity android:name=".page4_agri" />
        <activity android:name=".page5_agri" />
        <activity android:name=".page6_agri" />
        <activity android:name=".page16" />
        <activity android:name=".page17" />
        <activity android:name=".page18" />
        <activity android:name=".page_Journalism" />
        <activity android:name=".page_journalism1" />
        <activity android:name=".CustomAdapter" />
        <activity android:name=".page_fashion1" />
        <activity android:name=".page_journalism2" />
        <activity android:name=".page_journalism3" />
        <activity android:name=".page_journalism4" />
        <activity android:name=".page_journalism5" />
        <activity android:name=".page_journalism6" />
        <activity android:name=".page_journalism7"></activity>
    </application>

</manifest>
